{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block content %}
    <h1>Program</h1>
<div class="row justify-content-center">

    {% for program in programs %}
    <div class="card-deck col-4">
        <div class="card mb-3 mx-2" >
            <img class=" card-img-top align-self-start m-auto" style="width: auto; height: 300px;" src="{{program.poster}}" alt="{{ program.title }} poster">
            <div class="card-body media-body">
                <h1 class=" card-title mt-0">{{ program.title }}</h1>
                <p class="card-text">{{ program.summary }}</p>
                <p class="card-text">Categorie : {{ program.category.name }}</p>
                <a href="{{ path('program_show', {'slug': program.slug}) }}" class="btn btn-primary">Voir</a>
                <a href="{{ path('program_edit', {'slug': program.slug}) }}" class="btn btn-primary">edit</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

    <a href="{{ path('wild_index') }}" class="btn btn-success">
        Retour à l'accueil
    </a>
    {#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td>{{ program.poster }}</td>
                <td>
                    <a href="{{ path('program_show', {'id': program.id}) }}">show</a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}

    <a href="{{ path('program_new') }}">Create new</a>
{% endblock %}
